<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if request.session.firstName is None %}
<h3>Hello, Guest</h3>
<a href="/ors/welcome/"><b>Welcome</b></a> |
<a href="/ors/signin/"><b>Login</b></a>
{% else %}
<h3>Hello, {{request.session.firstName}}</h3>
<a href="/ors/save/"><b>Add User</b></a> |
<a href="/ors/list/"><b>User List</b></a> |
<a href="/ors/logout/"><b>Logout</b></a> |
<a href="/ors/testlist/"><b>Test List</b></a>|
<a href="/ors/addmarksheet/"><b>Add Marksheet</b></a> |
<a href="/ors/marksheet/"><b> Marksheet</b></a> |
{% endif %}
<hr>
</body>
</html>